:root {
    --mainFont: 'Nunito Sans', sans-serif;
    --textColor: black;
}

/* ---------- Global --------- */

* {
    list-style: none;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 1.5rem;
    font-family: var(--mainFont);
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

/* ---------- Utilities --------- */

.container {
    max-width: 120rem;
    width: 85%;
    margin: 0 auto;
}

@media (max-width: 975px) {
    .container {
        max-width: 120rem;
        width: 95%;
    }
}

@media (max-width: 650px) {
    .container {
        max-width: 120rem;
        width: 100%;
    }
}

hr {
    border: none;
    height: 1px;
    background-color: black;
}

@media (max-width: 795px) {
    hr {
        width: 95%;
    }
}

@media (max-width: 650px) {
    hr {
        width: 80%
    }
}

.title {
    margin-top: 5rem;
    font-family: 'League Spartan';
}

@media (max-width: 795px) {
    .title {
        width: 95%;
        margin: 5rem auto 0 auto;
    }
}

@media (max-width: 650px) {

    .title {
        text-align: center;
    }
}

/* ---------- Typography --------- */

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

p {
    font-size: 1.7rem;
}


/* ---------- Navigation --------- */

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: -3rem auto;
    height: auto;
}

.nav__pages__links,
.nav__social {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 26rem;
}

.nav__pages__links li {
    margin: 0 0.9rem;
    font-size: 1.9rem;
}

.nav__pages__links li a,
.nav__social a {
    position: relative;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

.nav__social a:hover::before,
.nav__social a.active::before,
.nav__pages__links a:hover::before,
.nav__pages__links a.active::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1.6px;
    background-color: var(--textColor);
    transition: width 0.3s ease;
}

.nav__social a:hover::before,
.nav__social a.active::before,
.nav__pages__links a:hover::before,
.nav__pages__links a.active::before {
    color: var(--textColor);
    transition: .3s;
    width: 100%;
}

.nav__social li {
    margin: 0 3.4rem;
}

.nav__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__logo img {
    width: 25rem;
}

.nav__pages__links li a {
    opacity: 0;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.nav__social li:nth-child(1) a,
.nav__pages__links li:nth-child(4) a {
    animation-delay: 0.2s;
}

.nav__social li:nth-child(2) a,
.nav__pages__links li:nth-child(3) a {
    animation-delay: 0.4s;
}

.nav__social li:nth-child(3) a,
.nav__pages__links li:nth-child(2) a {
    animation-delay: 0.6s;
}

.nav__social li:nth-child(4) a,
.nav__pages__links li:nth-child(1) a {
    animation-delay: 0.8s;
}

#menu {
    display: none;
}

@media (max-width: 975px) {
    nav {
        flex-direction: column;
        gap: 2rem;
        margin: 3rem auto;
    }

    .nav__logo {
        height: 8rem;
        order: -2;
        width: 100%;
        margin-top: 3rem;
    }

    .nav__pages__links {
        margin: 0;
    }

    .nav__social--container {
        order: -1;
    }

    .nav__social li {
        margin: 0 2rem;
    }
}

/* ---------- Burger Menu --------- */

@media (max-width: 650px) {

    #menu {
        display: block;
        background-color: transparent;
        border: none;
        margin-right: 1rem;
        margin-top: 5rem;
        position: absolute;
        right: 0;
    }

    .nav__pages__links {
        display: none;
    }

    .open {
        display: block;
    }

    .nav__pages__links li {
        text-align: center;
        padding: 1.5rem 0;
    }

    .nav__pages__links li a,
    .nav__social a {
        animation: none;
        opacity: 1;
    }
}

/* ---------- Hero  --------- */

.hero {
    display: grid;
    grid-template-columns: 64% 36%;
    align-items: center;
    justify-items: center;
}

picture {
    grid-column: 1/3;
    grid-row: 1/2;
}

.hero img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    opacity: 0.85;
}

.call-to-action {
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 1;
    padding: 0 10rem;
}

.call-to-action--title {
    font-size: 4.7rem;
    font-weight: bold;
    color: #3b3229;
    width: 75%;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'League Spartan';
}

.call-to-action--description {
    font-size: 2.6rem;
    color: #2c261e;
    font-family: 'League Spartan';
}

.call-to-action--button {
    font-size: 2rem;
    background-color: #2e2820;
    color: white;
    border-radius: 40px;
    border: none;
    padding: 1.5rem 3rem;
    cursor: pointer;
    font-weight: bold;
}

@media (min-width: 975px) {
    .call-to-action--button:hover {
        opacity: 0.9;
    }
}

@media (max-width: 975px) {
    .hero {
        margin-top: 3rem;
    }

    .call-to-action {
        padding: 0 7.3rem;
    }

    .call-to-action--title {
        font-size: 4rem;
        width: 85%;
    }

    .call-to-action--description {
        font-size: 2.4rem;
    }

    .call-to-action--button {
        font-size: 1.7rem;
        padding: 1.3rem 4rem;
    }
}

@media (max-width: 748px) {

    .call-to-action--title {
        font-size: 3.5rem;
        width: 100%;
    }

    .call-to-action--description {
        font-size: 2.1rem;
    }

    .call-to-action--button {
        font-size: 1.5rem;
        padding: 1rem 3rem;
        font-weight: bold;
    }
}

@media (max-width: 650px) {
    .hero {
        display: grid;
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr;
        /* margin-top: 0; */
    }

    picture {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .hero img {
        border-radius: 0;
        opacity: 1;
    }

    .call-to-action {
        grid-column: 1/3;
        grid-row: 2/3;
        z-index: 1;
        width: 85%;
        text-align: center;
        align-self: start;
        padding: 3rem;
    }

    .call-to-action--title {
        font-size: 5rem;
    }

    .call-to-action--description {
        font-size: 2.5rem;
    }

    .call-to-action--button {
        font-size: 2rem;
        padding: 1.5rem 12rem;
        width: 100%;
    }
}

@media (max-width: 550px) {

    .call-to-action--title {
        font-size: 4.5rem;
    }

    .call-to-action--description {
        font-size: 2.3rem;
    }

    .call-to-action--button {
        font-size: 1.7rem;
        padding: 1.5rem 10rem;
    }
}

@media (max-width: 500px) {

    .call-to-action--title {
        font-size: 4.3rem;
    }

    .call-to-action--description {
        font-size: 2rem;
    }

    .call-to-action--button {
        font-size: 1.8rem;
        padding: 1.5rem 5rem;
    }
}

/* ---------- Rental Types  --------- */

.rentals__section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

.rentals__type-title {
    margin: 5rem 0;
    align-self: flex-start;
}

.rentals .article {
    border: solid 1px #ccc;
    border-radius: 20px;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.rentals__type-info p:first-of-type {
    font-weight: bold;
}

.rentals>.rentals__section>.article:nth-child(2),
.rentals>.rentals__section>.article:nth-child(3),
.rentals>.rentals__section>.article:nth-child(8) {
    margin-bottom: 3rem;
}


.rentals img {
    width: 350px;
    height: auto;
}

.rentals__type-info {
    padding: 0 5rem;
}

@media (max-width: 795px) {

    .rentals .article {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .rentals__type-title {
        align-self: center;
    }
}

.rate-link {
    font-size: 1.7rem;
    text-decoration: underline;
}

/* ---------- Contact Information  --------- */

.contact {
    background-image: linear-gradient(to bottom right, #5594ad71, #34e69f91);
    margin: 5rem 0;
    padding: 5rem 0;
}

.contact__info {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact__info__mean {
    box-shadow: -3px -3px 3px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    width: 30%;
    height: auto;
    text-align: center;
    background-color: white;
    font-family: 'League Spartan';
}

@media (max-width: 750px) {

    .contact {
        padding: 1rem 0;
    }

    .contact__info {
        flex-direction: column;
    }

    .contact__info__mean {
        width: 90%;
        margin: 1rem 0;
    }
}

/* ---------- Weather  --------- */

figure {
    text-align: center;
    background-color: rgba(238, 238, 238, 0.4);
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(29, 29, 29, 0.1);
}

.figure-container {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;
    margin-top: 5rem;
}

.figure-container h3 {
    font-family: 'League Spartan';
}

#temp-main,
#main-next {
    font-size: 2.5rem;
}

#temperature,
#temperature-next,
#humidity {
    font-size: 3rem;
}

figure span {
    font-style: italic;
    font-size: 1.7rem;
}

@media (max-width: 750px) {
    .figure-container {
        flex-direction: column;
        align-items: center;
    }

    figure {
        width: 90%;
    }
}

/* ---------- Footer  --------- */

footer {
    background-color: black;
    margin-top: 5rem;
    color: white;
}

.footer__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer__logo {
    width: 250px;
    height: auto;
}

.footer__logo img {
    max-width: 100%;
}

footer .nav__social a {
    display: none;
    animation: none;
    opacity: 1;
}

.attributions {
    font-family: 'League Spartan';
    font-size: 2.5rem;
}

@media (max-width: 750px) {
    .footer__content {
        flex-direction: column;
    }

    .attributions {
        margin: 10rem 0;
    }

    footer .nav__social a {
        display: block;
        animation: none;
        opacity: 1;
    }
}

/* ---------- Banner  --------- */

#banner {
    background-color: black;
    color: white;
    display: none;
}

#banner-content {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 2rem 2.5rem;
}

#banner-content p {
    font-size: 2.5rem;
}

#closeBtn {
    cursor: pointer;
    color: #555;
}

#banner.show {
    display: block;
}

/* ------------------------------------------------ RENTALS PAGE---------------------------------------- */

/* ---------- nav --------- */

.nav__pages__links .no-animation a,
.nav__social .no-animation a {
    animation: none;
    opacity: 1;
}

/* ---------- main --------- */

.main__rentals {
    text-align: center;
}

main h1 {
    font-family: 'League Spartan';
    font-size: 6rem;
}

.rental-type-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 12.5rem;
    margin-left: -6rem;
}

.rental-type-content img {
    width: 500px;
    height: auto;
}

.rental-type-content p {
    font-size: 1.9rem;
}

table {
    border-collapse: collapse;
    width: 100%;
}

tr:nth-child(even) {
    font-weight: bold;
}

th,
td {
    border: 1px solid #c0c0c0;
    text-align: center;
    padding: 1rem 3rem;
}

th {
    font-size: 1.7rem;
    background-color: #001514;
    color: white;
}

tr:nth-child(2) {
    font-size: 1.5rem;
}

tr:nth-child(3) {
    font-size: 1.9rem;
}

@media (max-width: 975px) {

    .main__rentals {
        width: 90%;
        text-align: center;
        margin: 0 auto;
    }

    main h1 {
        margin-top: 12.5rem;
    }

    .rental-type-content {
        flex-direction: column;
        margin-left: 0;
    }

    .rental-type-content img {
        margin-top: -1rem;
        height: auto;
    }

    table {
        margin-top: 3rem;
        max-width: 100%;
    }
}

@media (max-width: 650px) {
    .rental-type-content img {
        width: 350px;
    }

    td {
        padding: 1rem 1rem;
    }
}