@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
    margin: 0;
    font-size: 16px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

header,
footer {
    text-align: center;
    color: white;
    background-color: black;
    padding: 20px;
}

main {
    margin: 2%;
    
}

footer {
    font-weight: bold;
}

section {
    margin: 0.25rem;
    padding: 0.35rem;
    background-color: #eee;
    border: 1px solid #bbb;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
}