:root {
    --background: #141B41;
    --secondary: #fff;
    --text: #000;
    --mainFont: 'Nunito Sans', sans-serif;
}

* {
    list-style: none;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 1.5rem;
    font-family: var(--mainFont);
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

/** Global **/

.container {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 3rem;
}

/* Typography */

h1,
h2,
h3,
h4 {
    line-height: 1.2;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.3rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.7rem;
}

p {
    font-size: 1.3rem;
}

@media (min-width: 768px) {

    h1,
    h2,
    h3 {
        line-height: 1.2;
    }

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 3.2rem;
    }

    h3 {
        font-size: 2.4rem;
    }

    h4 {
        font-size: 1.7rem;
    }

    p {
        font-size: 1.9rem;
    }
}

/** Header **/

header {
    background-color: black;
}

.name {
    max-width: 30rem;
    text-decoration: none;
    color: white;
    padding: 1rem;
    text-align: center;
}

@media (min-width: 768px) {
    .name {
        max-width: 71rem;
        margin: 0 auto;
    }
}

span {
    font-weight: 300;
}

/** Navigation **/

/* small view navigation */

#menu {
    position: absolute;
    right: 5rem;
    top: 8rem;
    border: 0;
    background: none;
    color: #fff;
    font-size: 4rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "x";
}

.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.navigation a {
    display: none;
}

.open a {
    display: block;
}

.active {
    color: #ABEBC6;
}

/* large view navigation ************************************/

@media (min-width: 768px) {

    .navigation {
        flex-direction: row;
    }

    .navigation a {
        display: block;
    }

    #menu {
        display: none;
    }

    .navigation a:hover {
        text-decoration: underline;
        font-weight: bold;
    }
}

/** Hero **/

.hero {
    position: relative;
}

.hero img {
    max-width: 100%;
    height: auto;
}

.hero__button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    border: 1px solid black;

    padding: 1rem 7rem;
    color: var(--text);
    background-color: rgba(255, 255, 255, 0.7);
    font-weight: bold;
    cursor: pointer;
}

.hero__button:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.9);
    transition: all .4s;
}

/** Main **/

main {
    text-align: center;
}

.main__info-section {
    grid-template-columns: 1fr;
}

.current-events__event-title::before {
    content: "🔎 ";
    font-size: 2rem;
}

.current-events__event-paragraph {
    color: var(--text);
    padding: 0 3rem;
}

.current-events__button {
    background-color: black;
    color: var(--secondary);
    border: none;
    padding: 1rem 5rem;
    cursor: pointer;
    border: 1px solid black;
    font-size: 1.2rem;
    font-weight: bold;
}

.current-events__button:hover {
    background-color: white;
    color: var(--text);
    transition: background-color 0.3s;
}

.main__spotlights {
    grid-template-columns: 1fr;
    gap: 2rem;
}

.info__container {
    width: 100%;
    padding: 3rem 0;
    margin: 0 auto;
}

.logo_img {
    height: 200px;
    width: 200px;
    max-width: 100%;
    border-radius: 50%;
}

@media (min-width: 768px) {

    .main__info-section {
        display: grid;
        grid-template-columns: 66% 33%;
    }

    .current-events__event-title {
        text-align: left;
    }

    .current-events__event-title::before {
        font-size: 2.5rem;
    }

    .current-events__event-paragraph {
        padding: 0;
        padding-right: 10rem;
        text-align: left;
    }

    .current-events__button {
        font-size: 1.5rem;
        float: left;
    }

    .info__container {
        width: 90%;
    }
}

@media (min-width: 820px) {
    .main__spotlights {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Footer */

footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 5rem;
    font-weight: bold;
}

@media (min-width: 768px) {
    footer {
        text-align: left;
    }
}

/* Dark Mode Switch */

.dark-mode__container {
    display: flex;
    text-align: center;
    justify-content: right;
    transform: translate(-50px, 25px);
}

.dark-mode__title {
    color: var(--secondary);
    margin: 0;
}

.switch {
    transform: translate(25%, 0);
    position: relative;
    display: inline-block;
    width: 50px;
    height: 20px;
}

.switch #switch-input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--secondary);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 13%;
    background-color: var(--text);
    -webkit-transition: .4s;
    transition: .2s;
    border-radius: 50%;
}

#switch-input:checked+.slider {
    background-color: #6a6e73;
}

#switch-input:focus+.slider {
    box-shadow: 0 0 1px var(--secondary);
}

#switch-input:checked+.slider:before {
    background-color: var(--secondary);
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

@media (max-width: 768px) {

    .dark-mode__title {
        transform: translate(20%, -40%);
    }

    .switch {
        transform: translate(50%, -50%);
    }
}

/* Discover */

.aside {
    width: 100%;
}

.article {
    display: block;
}

.article:not(:last-child) {
    margin-bottom: 10rem;
}

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    padding: 3rem 0;
    gap: 5rem;
}

.photo-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photo-container,
.title-container {
    width: 90%;
    height: auto;
}

.title-container {
    margin-bottom: 2rem;
}


.photo-container-img {
    max-width: 100%;
    height: auto;
    border-radius: 0.5rem;
}

@media (min-width: 800px) {
    .grid-container {
        grid-template-columns: 30% 70%;
    }

    .photo-container-img:hover {
        transform: scale(1.05);
        transition: transform 0.3s ease;
    }
}

/* ------------------------ FORM ------------------------ */

.chamber-form {
    text-align: initial;
    margin: 5% auto;
}

@media (max-width: 550px) {
    .chamber-form {
        margin: 10% auto;
    }
}

.chamber-form fieldset {
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 3rem;
}

.chamber-form legend {
    padding: 0 .8rem;
    font-weight: bold;
    font-size: 3rem;
}

.chamber-form label,
.membership-container,
textarea {
    display: block;
    padding-top: 2rem;
    font-size: 2rem;
}

.chamber-form input[type="text"],
.chamber-form input[type="tel"],
.chamber-form input[type="email"],
textarea {
    background-color: #eee;
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 400px;
    appearance: none;
}

.chamber-form input[type="radio"] {
    margin-right: 1rem;
}

.membership-box {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 2rem;
    font-weight: bold;
}

.membership-box {
    padding-top: 2rem;
}

.membership-content {
    border: solid 1px #999;
    border-radius: 6px;
    padding: 0 3rem;
    background-color: #eee;
}

@media (min-width: 768px) {
    .membership-content:hover {
        background-color: #ddd;
    }
}

.membership-container .membership-content label {
    cursor: pointer;
}

.membership-content li {
    font-size: 1.6rem;
    margin-top: 1rem;
    list-style: circle;
    font-weight: normal;
}

.membership-content .price {
    font-size: 2.5rem;
    font-weight: bold;
    list-style: none
}

.chamber-form input[type="submit"] {
    border: none;
    background-image: linear-gradient(#001510, #0f5950);
    color: #fff;
    border-radius: 6px;
    padding: 1.2rem;
    width: 100%;
    max-width: 40rem;
    margin: -1rem 2% 2rem 2%;
    margin-top: 3rem;
    font-weight: bold;
    font-size: 2rem;
    cursor: pointer;
}

.chamber-form input[type="submit"]:hover {
    opacity: 0.93;
}

@media (max-width: 640px) {
    .membership-box {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 487px) {
    .chamber-form input[type="submit"] {
        margin-left: initial;
    }
}

.thankyou-message {
    padding: 3rem;
}

.chamber-form input:required {
    border-bottom: solid 3px red;
}

.chamber-form input:required:valid {
    border-bottom: solid 3px green;
}


/* ------------------------ DIRECTORY ------------------------ */

#grid,
#list {
    padding: 0 3px;
    margin: 0 0.5rem 5rem
}

.directory-main {
    padding: 5rem 1rem;
}

.grid section {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-gap: 5px;
    align-items: center;
}

@media (max-width: 975px) {
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .grid section {
        height: 230px;
        text-align: center;
    }
}

.grid img {
    border: 1px solid #fff;
    box-shadow: 0 0 10px #333;
    height: 100px;
    width: auto;
    max-width: 100%;
}

.grid p {
    font-size: 1.5rem;
}

.grid section>* {
    margin: 0.1rem;
}

.list {
    display: flex;
    flex-direction: column;
}

.list section {
    display: grid;
    grid-template-columns: 20% repeat(3, 26%);
    margin: 0;
    padding: 1rem;
    text-align: left;
    align-items: center;
}

@media (max-width: 1054px) {

    .list {
        width: 85%;
        margin: 0 auto;
    }

    .list section {
        grid-template-columns: 1fr;
        text-align: center;
        line-height: 1.5;
    }
}

.list section > * {
    margin: 0 1rem;
}

.list section img {
    display: none;
    /* smaller viewports only */
}

.list section:nth-child(even) {
    background-color: #eee;
}

.list section:nth-child(odd) {
    background-color: #ffffff;
}